.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
  }
  
  .button {
    margin: 30px;
    padding: 8px 20px;
    background-color: #01110A;
    border: 0;
    box-shadow: 0 0 2px 1px #909090;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 900;
  }
  