.banner {
  background-color: #FFD700;
  text-align: center;
  padding: 10px 20px;
  color: #333333;
}

.all {
  min-height: 100vh;
  background-color: #1b1b1b;
}

.main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6rem;
  background-color: #1b1b1b;
}

.center {
  text-align: center;
}

.button {
  margin: 30px;
  padding: 8px 20px;
  background-color: #01110A;
  border: 0;
  box-shadow: 0 0 2px 1px #909090;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: 900;
}

@media (max-width: 768px) {
  .main {
    padding: 2rem;
  }
}
