.title {
    font-family: 'inter', sans-serif;
    text-align: left;
    font-weight: bold;
    font-size: 48px;
    color: #ffffff;
  }
  
.subtitle {
    font-family: 'inter', sans-serif;
    text-align: left;
    font-size: 18px;
    margin-bottom: 45px;
    color: #ffffff;
}

.star {
  text-decoration: underline;
  color: #FFD700;
}

.star:hover {
  cursor: pointer;
  opacity: 0.5;
}