@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --background-black: #0f0f0f;
  --border-gray: #333333;
  --background-gray: #1e1e1e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}

/* ────────────────────────────── */
/* ========== GRAPH ============ */
/* ────────────────────────────── */

.row-container {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: center;
  overflow: hidden;
}

.column-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-basis: 0;
  flex-grow: 1;
}

.square {
  flex: 1 1;
  /* padding: 0; */
  transition: background-color 0.3s;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1px var(--background-black);
  width: 100%;
  aspect-ratio: 1/1;
}

.empty-spot {
  flex: 1 0 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
}

.graph {
  padding: 5px;
  background-color: var(--background-gray);
  border: 1px solid var(--border-gray);
  overflow: auto;
  shape-rendering: crispEdges;
  box-shadow: 0 0 5px var(--border-gray);
  flex-wrap: wrap;
  width: 100%;
  /* aspect-ratio: 1/1; */
  cursor: crosshair;
}

/* ────────────────────────────── */
/* ====== YEAR + REPO BAR ====== */
/* ────────────────────────────── */

.year-selector {
  display: flex;
  align-items: left;
  gap: 10px;
  margin-top: 15px;
}

.custom-select {
  display: flex;
  align-items: center;
  background-color: var(--background-gray);
  margin-bottom: 15px;
  border: 1px solid var(--border-gray);
  position: relative;
  box-shadow: 0 0 5px var(--border-gray);
  width: 100%;
}

.separator {
  width: 1px;
  height: 80%;
  background-color: var(--border-gray);
}

.text-field {
  cursor: text;
  padding: 8px 15px;
  border: none;
  appearance: none;
  text-align: center;
  color: #ffffff;
  background-color: var(--background-gray);
  outline: none;
  align-items: center;
  width: 100%;
  white-space: normal;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}

.text-field::placeholder {
  color: #9d9d9d;
}

.custom-select select {
  cursor: pointer;
  background-color: var(--background-gray);
  border-radius: 0;
  border: none;
  color: #ffffff;
  text-align-last: center;
  padding-right: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.custom-select select::-ms-expand {
  display: none;
}

.custom-select select:focus {
  background-color: var(--background-gray);
  outline: none;
}

.custom-select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #ffffff transparent transparent transparent;
  pointer-events: none;
}

.text-field,
select {
  flex: 1;
  height: auto;
}

/* ────────────────────────────── */
/* ====== PALETTE BUTTONS ====== */
/* ────────────────────────────── */

.palette-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 10px;
}
